image: ruby:3.2.2

stages:
  - test

test:rspec:
  variables:
    BUNDLER_VERSION: 2.4.22
  stage: test
  script:
    - gem install bundler -v ${BUNDLER_VERSION}
    - bundle install --jobs $(nproc) --retry 3
    - bundle exec rspec --format progress --format RspecJunitFormatter --out rspec.xml
  artifacts:
    when: always
    paths:
      - rspec.xml
    reports:
      junit: rspec.xml
